<p id="notice"><%= notice %></p>

<p>
  <strong>Points:</strong>
  <%= @claim.points %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @claim.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @claim.user %>
</p>

<p>
  <strong>Address:</strong>
  <%= @claim.address %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
