<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @star.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @star.user %>
</p>

<p>
  <strong>Value:</strong>
  <%= @star.value %>
</p>

<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', stars_path %>
