<%# Page info %>
	<div class="page-top-info">
		<div class="container">
			<h3>Autores</h3>
			<div class="site-pagination">
        <%= link_to 'Administración'.html_safe, '#' %>
				 /
				<%= link_to 'Autores'.html_safe , '#' %>
			</div>
		</div>
	</div>
<%# Page info end %>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <% if can? :create, @author %>
        <%= link_to 'Agregar Autor', new_author_path, remote:true, class: 'btn btn-outline-success float-right mb-2' %>
      <% end %>
      <div class="table-responsive mt-3">
        <table class="table table-fullwidth">
          <thead>
            <tr>
              <th>Nombre</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody id="list">
            <%= render @authors %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'modal' %>