<div class="col-lg-3  ">
	<%# Filtro por Categoria %>
	<div class="filter-widget">
		<h2 class="fw-title">Categorias</h2>
			<ul class="category-menu">			
				<li><%= link_to 'Manga', search_category_details_path('Manga'), remote: true %> 
        
					<ul class="sub-menu">
						<li> <%= link_to 'Shounen', search_category_details_path('Shounen'), remote: true %> </li>
						<li> <%= link_to 'Shoujo', search_category_details_path('Shoujo'), remote: true %></li>
						<li> <%= link_to 'Mecha', search_category_details_path('Mecha'), remote: true %> </li>
						<li> <%= link_to 'Gore', search_category_details_path('Gore'), remote: true %> </li>
						<li> <%= link_to 'Seinen', search_category_details_path('Seinen'), remote: true %> </li>
            <li> <%= link_to 'Josei', search_category_details_path('Josei'), remote: true %> </li>
            
					</ul>
				</li>
				<li><%= link_to 'Comic', search_category_details_path('Comic'), remote: true %>
					<ul class="sub-menu">
						<li> <%= link_to 'DC', search_category_details_path('DC'), remote: true %> </li>
            <li> <%= link_to 'Marvel', search_category_details_path('Marvel'), remote: true %> </li>
					</ul>
				</li>
				<li><%= link_to 'Libro', search_category_details_path('Libro'), remote: true %></li>
				<li><%= link_to 'Revista', search_category_details_path('Revista'), remote: true %></li>
        <li><%= link_to 'Regalos', list_gift_details_path, remote: true %></li>
			</ul>
	</div>
	
					
	<%# Filtro por marca %>
	<%# <div class="filter-widget">
		<h2 class="fw-title">Editorial - Marca </h2>
		<ul class="category-menu">
			<li><a href="#">Abercrombie & Fitch <span>(2)</span></a></li>
			<li><a href="#">Asos<span>(56)</span></a></li>
			<li><a href="#">Bershka<span>(36)</span></a></li>
			<li><a href="#">Missguided<span>(27)</span></a></li>
			<li><a href="#">Zara<span>(19)</span></a></li>
		</ul>
	</div> %>
</div>


