<section class="hero-section">
	<div class="hero-slider owl-carousel">
			<%# @banners.each do |banner| %>
      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/blog-header.png' %>">
				<div class="container ">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white ">
							<span class="text-danger">Mangas y más</span>
							<h2 class="text-danger  ">Mangas</h2>
             
							
              <h4 class="mt-3 mb-3"> 
                Puedes comprar tu manga favorito desde la comodidad de tu casa. 
                A tan solo un par de clicks...
              </h4>
              
              <%= link_to 'Ver más'.html_safe, details_path, class: 'site-btn sb-white' %>
						
						</div>
					</div>
					<div class="offer-card text-dark">
						<span>desde</span>
						<h2>$8</h2>
						<p>COMPRA <br> AHORA</p>
					</div>
				</div>
			</div>
			
      <%# end %>

      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/dc-001.jpg' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span class="text-white">Comic - DC</span>
							<h2 class="text-danger">DC </h2>
							
              <h4 class="text-white mt-3 mb-4 ">Si lo tuyo es lo comic ven a ver lo que tenemos</h4>

              <%= link_to 'Ver más'.html_safe, details_path, class: 'site-btn sb-line' %>
						</div>
					</div>
				</div>
			</div>


      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/manga-02.jpg' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
              
							<span>Populares </span>
							<h2>Shounen ...</h2>
							<p>
                Shojo, Senien... entre otros géneros. <br>
                Busca tus mangas favoritos... sino lo tenemos puedes pedirlo
               </p>
							 <%= link_to 'Ir a cátalogo'.html_safe, details_path, class: 'site-btn sb-line' %>
						</div>
					</div>
					
				</div>
			</div>
      
      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/marvel-01.jpg' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
              
							<span>Comic - Marvel</span>
							<h2>Marvel</h2>
							<h4 class="text-warning mt-3 mb-3">
                Para los fanaticos de  Marvel... <br>
                Busca la historia que más te guste aquí
              </h4>
							 <%= link_to 'Ver más'.html_safe, details_path, class: 'site-btn  sb-dark' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-2"></div>
		</div>
	</section>