<%# Page Preloder %>
<div id="preloder">
	<div class="loader"></div>
</div>

<%# Header section %>
	<header class="header-section">
        <%# Header blanco barraa de busqueda  %>
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-1 col-lg-2 text-center text-lg-left">
						<a href="<%= root_path %>" class="site-logo">
							<img src="<%= asset_path 'system/logo.png' %>" alt="">
						</a>
					</div>
					
					<% if user_signed_in? %>
					<div class="col-xl-6 col-lg-6">
						<%# <form class="header-search-form">
							<input type="text" placeholder="Search on divisima ....">
							<button><i class="flaticon-search"></i></button>
						</form> %>
						
					</div>	
					<% else %>
					<div class="col-xl-8 col-lg-6">
						<%# <form class="header-search-form">
							<input type="text" placeholder="Search on divisima ....">
							<button><i class="flaticon-search"></i></button>
						</form> %>
						
					</div>
					<% end %>
					
					
					<% if user_signed_in? %>
					<div class="col-xl-5 col-lg-3">
						<div class="user-panel">
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span id="count-cart"><%= current_user.cart.total_items %></span>
								</div>
								<a href="<%= cart_orders_path %>">Shopping Cart</a>
							</div>
							<div class="up-item">
								
									 <p class=""><%= current_user.name %></p>
									<br>
									<%= link_to '<i class="fas fa-heart text-danger"></i> Mi lista de deseos  '.html_safe, '#'  %>   
									
									<%= link_to '<i class="flaticon-profile "></i>  Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete %>
					<% else %>
					<div class="col-xl-3 col-lg-4">
						<div class="user-panel">
							<div class="up-item cart-link">
								<div style="float:left !important;">
									<i class="flaticon-profile"></i>
									<a href="<%= new_user_session_path %>" >Inicia sesión</a>  o  <a href="<%= new_user_registration_path %>" >Registrate</a>
								</div>
					<% end %>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

        <%# Navbar - menu %>
		<%# <nav class="main-navbar">
			<div class="container">
				
				<ul class="main-menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">Women</a></li>
					<li><a href="#">Men</a></li>
					<li><a href="#">Jewelry
						<span class="new">New</span>
					</a></li>
					<li><a href="#">Shoes</a>
						<ul class="sub-menu">
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Sandals</a></li>
							<li><a href="#">Formal Shoes</a></li>
							<li><a href="#">Boots</a></li>
							<li><a href="#">Flip Flops</a></li>
						</ul>
					</li>
					<li><a href="#">Pages</a>
						<ul class="sub-menu">
							<li><a href="./product.html">Product Page</a></li>
							<li><a href="./category.html">Category Page</a></li>
							<li><a href="./cart.html">Cart Page</a></li>
							<li><a href="./checkout.html">Checkout Page</a></li>
							<li><a href="./contact.html">Contact Page</a></li>
						</ul>
					</li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</nav> %>
    </header>


	<div class="sticky-top ">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown link
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				</ul>
			</div>
		</nav>
	</div>
<%# Header section end %>
<br>
<br>