<%# Page Preloder %>
<div id="preloder">
	<div class="loader"></div>
</div>

<%# Header section %>
	<header class="header-section">
    <%# Header blanco barraa de busqueda  %>
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-1 col-lg-2 text-center text-lg-left">
						<a href="<%= root_path %>" class="site-logo">
							<img src="<%= asset_path 'system/logo.png' %>" alt="">
						</a>
					</div>
					
					<% if user_signed_in? %>
						<div class="col-xl-11 col-10 col-lg-10 col-sm-12 ">
							<div class="user-panel ">

								<div class="float-right">
									<%# Opción de Bolsa de Compra %>
									<div class="up-item">
										<div class="shopping-card ">
											<i class="flaticon-bag"></i>
											<span id="count-cart" ><%= current_user.cart.total_items %></span>
										</div>
										<a href="<%= cart_orders_path %>">Bolsa de Compra</a>
									</div>
								
									<div class="up-item">
										<div class="shopping-card ">
											<i class="fas fa-coins"></i>
											<span id="count-cart"><%= current_user.points %></span>
										</div>
										<a href="<%= cart_orders_path %>">BunnyCoins</a>
									</div>

									<div class="up-item">
										<%= link_to '<i class="fas fa-heart text-danger"></i> Mi lista de deseos  '.html_safe, wishlists_path  %>
										<div class="shopping-card ">
											<a href="<%= profiles_path %>">
												
												<% if current_user.image != '<i class="fas fa-user-astronaut fa-4x"></i>' %>
													<%= image_tag current_user.image, class: 'rounded-circle' %>
												<% else %>
													<%= current_user.image.html_safe %>
												<% end %>
												
												<%= current_user.name %>
											</a>
											<%= link_to '<i class="flaticon-profile "></i>  Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete %>
										</div>   	
										
									</div>
								</div>
								
							</div>
						</div>
					<% else %>
					<div class="col-xl-11 col-10 col-lg-10 col-sm-12">
						<div class="user-panel">
							<div class="float-right">
								<div class="up-item cart-link">
									<div style="float:right !important;">
										<i class="flaticon-profile"></i>
										<a href="<%= new_user_session_path %>" >Inicia sesión</a>  o  <a href="<%= new_user_registration_path %>" >Registrate</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% end %>
							
				</div>
			</div>
		</div>
	<div class="sticky-top ">
    <%# Navbar - menu %>
		<nav class="main-navbar">
			<div class="container">
				
				<ul class="main-menu">
					<li> <%= link_to 'Home', root_path, title: 'Nuestras novedades estan aquí' %> </li>
					<li><%= link_to 'Catálogo<span class="new">New</span>'.html_safe, details_path, title: 'Todos nuestros productos ;)' %></li>
					<li></a></li>
					<li><%= link_to 'Manga' %></li>
					<li><a href="#">Libros  </a> </li>
					<li><a href="#">Revistas</a>
						
					</li>
					<li><a href="#">Nosotros</a>
						<ul class="sub-menu">
							<li><a href="./product.html">Product Page</a></li>
							<li><a href="./category.html">Category Page</a></li>
							<li><a href="./cart.html">Cart Page</a></li>
							<li><a href="./checkout.html">Checkout Page</a></li>
							<li><a href="./contact.html">Contact Page</a></li>
						</ul>
					</li>
					
					<li><%= link_to 'Administración', title: 'Hola vendedor :D' %>
						<ul class="sub-menu">
							<li><%= link_to 'Productos', products_path %></li>
							<li><%= link_to 'Regalos', gifts_path %></li>
							<li><%= link_to 'Autores', authors_path %></li>
							<li><%= link_to 'Categorias', categories_path %></li>
							<li><%= link_to 'Sugerencias y mensajes', suggestions_path %></li>
							<li><%= link_to 'Comentarios', comments_path %></li>
							<li><%= link_to 'Marcas', brands_path %></li>
							<li><%= link_to 'Banner', banners_path %></li>
						</ul>
					</li>
					<li><%= link_to 'Sugerencias', new_suggestion_path %></li>
				</ul>
			</div>
		</nav>
	</div>
</header>	
<%# Header section end %>
