<%= form_with(model: gift, local: true) do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :points, 'Valor (cantidad de puntos)' %>
    <%= form.number_field :points, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.check_box :available, class: 'form-check-input' %>
    <%= form.label :available, '¿Esta disponible?'  , class: 'form-check-label' %>
  </div>

  <div class="form-group">
    <%= form.label :quantity, 'Cantidad' %>
    <%= form.number_field :quantity, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :images, 'Imagenes asociadas' %>
    <%= form.file_field :images, multiple: true,  class: 'form-control-file' %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar', class: 'btn btn-outline-success col-5' %>
    <%= link_to 'Back', gifts_path, class: 'btn btn-outline-warning float-right col-5' %>
  </div>
<% end %>
