<%# Page info %>
	<div class="page-top-info">
		<div class="container">
			<h3>Regalos</h3>
			<div class="site-pagination">
				<%= link_to 'Administración' %> /
				<%= link_to 'Regalos' %>
			</div>
		</div>
	</div>
<%# Page info end %>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <% if can? :create, @gift %>
        <%= link_to 'Agregar Regalo', new_gift_path, class: 'btn btn-outline-success float-right' %>
      <% end %>
      <div class="table-responsive">
        <table class="table table-fullwidth ">
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Puntos</th>
            <th>¿Esta disponible?</th>
            <th>Cantidad </th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody id="lista">
          <%= render @gifts %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/modal' %>


