<p>Código de comprea: <%= @billing.code %></p>
<p>Email de cliente: <%= @billing.user.email %></p>
<p>Nombre de cliente: <%= @billing.user.name %></p>

<div class="table-responsive">
  <table class="table table-hover" id="list-address" >
    <thead>
      <th colspan="2">Nombre del Producto</th>
      <th>Cantidad</th>
      <th>Valor</th>

    </thead>
    <tbody>
      <% @orders.each do |orders|  %>
        <tr>
          <td> <%= orders.detail.product.title %> </td>
          <td> <%= orders.detail.chapter %> </td>
          <td> <%= orders.quantity %></td>
          <td> <%= orders.price %> </td>
        </tr>
      <% end %>
      <% if ! @orders.present? %>
        <tr id="msj-no-data">
          <td>No has registrado direcciones para tus envíos</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>