<div class="table-responsive">
  <table class="table table-hover" id="list-address" >
    <thead>
      <th>Code</th>
      <th>Método de Pago</th>
      <th>Monto</th>
      <th>Moneda</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <% @billings.each do |billing|  %>
        <tr>
          <td> <%= billing.code %> </td>
          <td> <%= billing.payment_method %> </td>
          <td> <%= billing.amount %></td>
          <td> <%= billing.currency %> </td>
          <td> <%= link_to 'Detalle', detail_billing_path(billing), method: :post, remote:true %> </td>
          <td> <%= link_to 'Boleta', billing_path(billing,format: :pdf ), download: true  %> </td>
        </tr>
      <% end %>
      <% if ! @billings.present? %>
        <p id="msj-no-data">No has registrado direcciones para tus envíos</p>
      <% end %>
    </tbody>
  </table>
</div>