<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%= wicked_pdf_image_tag('system/logo.png',height: '125vh', class:'float-right') %> 
        <br>
        <br>
        <h1 class="card-title text-center">Boleta n° <%= @billing.id %></h1>
        <br>
        <p>
          <div>Tiendita Suana</div> 
          <div>Venta de Comics, Magas,Libros y Revista online</div>
          <div>Santiago, Chile</div>
          <div>tiendasuana@gmail.com</div>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-fullwidth table-striped table-bordered ">
        <tbody>
          <tr>
            <th>Fecha Emisión: </th>
            <td><%= @billing.created_at.strftime("%d/%m/%Y") %></td>
            <th colspan="2">Fecha Vencimiento</th>
            <td><%= @billing.created_at.strftime("%d/%m/%Y") %></td>
          </tr>
          <tr>
            <th>RUT:</th>
            <td> <%= @billing.user.rut %> </td>
            <th>Email: </th>
            <td colspan="2"> <%= @billing.user.email %> </td>
          </tr>
          <tr>
            <th>Nombre del cliente:</th>
            <td colspan="4"> <%= @billing.user.name %> </td>
      
          </tr>
          <tr>
            <th>N° pago:</th>
            <td colspan="2"><%= @billing.code %> </td>
            <th> Método de Pago </th>
            <td><%= @billing.payment_method %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="col-12">
    
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="list-address" >
        <thead class="table-secondary">
          <th colspan="2">Nombre del Producto</th>
          <th>Cantidad</th>
          <th>Valor</th>
          <th>Enviado a: (Dirección)</th>

        </thead>
        <tbody>
          <% @orders.each do |orders|  %>
            <tr>
              <td> <%= orders.detail.product.title %> </td>
              <td> <%= orders.detail.chapter %> </td>
              <td> <%= orders.quantity %></td>
              <td> <%= orders.price %> </td>
              
              <% if @orders.index(orders) == 0 %>
                <td rowspan="<%= @orders.count %>"> <%= "#{orders.address.street} #{orders.address.number_street}, #{orders.address.township.name} <br> #{orders.address.township.region.name}".html_safe %> </td>
              <% end %>
              
            </tr>
          <% end %>
          <tr class="table-active">
            <td colspan="3" class="text-right"><strong>Total</strong></td>
            <th colspan="2">$ <span id="total"><%= @total %> </span> </th>
          </tr>
          <% if ! @orders.present? %>
            <p id="msj-no-data">No has registrado direcciones para tus envíos</p>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>