
      <%= form_with(model: suggestion, local: true) do |form| %>
        <% if suggestion.errors.any? %>
          <div class="alert alert-danger"> Debes registrarte para enviar mensaje</div>
        <% end %>

        <div class="form-group">
          <%= form.label :type_s, '¿Qué es lo que necesitas?' %>
          <%= form.select(:type_s,[['Sugerencia para pedido de Preventa', 0], ['Pedido Especial', 1],['Necesito Información', 2]],{ prompt: 'Selecciona una opción' }, {  required: true, focus: :type,class: 'form-control'}) %> 
          <%#= form.select(:type, @suggestion.type, class: 'form-control')  %>
        </div>
        <div class="form-group">
          <%= form.label :subject, 'Asunto' %>
          <%= form.text_field :subject, {class: 'form-control', required:true} %>
          <p class="msg-description-input" >
            Por favor se breve <br> En caso que sea:
            <ul style="font-size: 0.8 rem; color: gray;">
              <li>Un pedido por preventa, pon el nombre de la publicación deseada. En caso de comics o mangas, ponen el nombre de la publicación original <em>(nombre oficial de su país de origen)</em></li>
              <li>Un pedido especial, pon el nombre de la publicación que deseas. </li>
              <li>Pedido de Información, pon como asunto que tipo de información en especifica necesitas.</li>
            </ul> 
          </p>
        </div>

        <div class="form-group">
          <%= form.label :content, 'Mensaje:' %>
          <%= form.text_area :content, { required: true, class: 'form-control'} %>
        </div>

        <div class="form-group">
          <%= form.label :observation, 'Alguna otra observación' %>
          <%= form.text_area :observation,class: 'form-control' %>
        </div>

        

        <div class="actions">
          <%= form.submit 'Enviar mi sugerencia', class: 'btn btn-block btn-outline-primary' %>
        </div>
        <% end %>