<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Sugerencias</h2>
    </div>
    <div class="col-8">

    </div>
    <div class="col-4">
      
      <div class="table-responsive">
        <table class="table table-fullwidth table-hover table-sm">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Content</th>
              <th>Observation</th>
              <th>Type</th>
              <th>User</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @suggestions.each do |suggestion| %>
              <tr>
                <td><%= suggestion.subject %></td>
                <td><%= suggestion.content %></td>
                <td><%= suggestion.observation %></td>
                <td><%= suggestion.type %></td>
                <td><%= suggestion.user %></td>
                <td><%= link_to 'Show', suggestion %></td>
                <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
                <td><%= link_to 'Destroy', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>



    </div>
  </div>
</div>