<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @suggestion.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @suggestion.content %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @suggestion.observation %>
</p>

<p>
  <strong>Type:</strong>
  <%= @suggestion.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
