<div class=" card col-lg-4 col-sm-6 ">
  <div class="card-body">    
    <figure>
      <%# if detail.product.images.attached? %>
          <%# Product.get_product(detail.product.id).images.each do |image|  %>
              <%#= image_tag image.variant(resize: '150x150') %>
          <%# end %>  
      <%# else %>
      <i class="fas fa-shopping-bag fa-8x"></i>
      <%# end %>
    </figure>
    <div class="product-info" id="product-info-<%= detail.id %>">
      <h6><%= detail.product.title.html_safe %></h6>
      <%= detail.chapter.present? ? "<p> Capítulo #{detail.chapter} </p>".html_safe : nil %>
      <p><%= detail.product.author.name.html_safe %></p>
      <p>$<%= detail.price.to_i %></p>
      
      <% if user_signed_in?   %>
          <% if detail.in_wishlist(current_user) != nil %>
              <%= link_to '<i class="fas fa-heart"></i>'.html_safe, detail_wishlist_path(detail), method: :delete, class: 'btn btn-sm btn-outline-secondary', title: 'Eliminar a mi Lista de Deseos', remote: true, id: "wishlist-#{detail.id}" %> 
          <% else %>
              <%= link_to '<i class="fas fa-heart"></i>'.html_safe, detail_wishlist_path(detail), method: :post, remote: true, class: 'btn btn-sm btn-outline-danger', title: 'Agregar a mi Lista de Deseos',  id: "wishlist-#{detail.id}" %> 
          <% end %>
          <%= link_to '<i class="fas fa-shopping-bag"></i>'.html_safe, '#',class: 'btn btn-sm btn-outline-success', title: 'Agregar a Carro de Compra' , remote: true %>
      <% end %>
      
      
      <%= link_to '<i class="far fa-eye"></i>'.html_safe, detail_path(detail), class: 'btn btn-sm btn-outline-info', title: 'Ver mas Info' %>

    </div>
  </div>
</div>